.jumbotron {
  background-color: #5f9ea0;
  color: azure; }

body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  padding-top: 50px; }

footer {
  background-color: #5f9ea0;
  margin-top: 10px;
  margin-bottom: 0px;
  color: azure;
  overflow: hidden; }

.card-hotel {
  flex: 1 200px;
  margin-top: 10px; }

.btn-reserva {
  width: 100%;
  border-radius: 0px; }

.footer-adress-icon {
  padding-right: 10px; }

.info {
  color: azure; }

.enlaces2 {
  padding-top: 10px;
  padding-right: 20px; }

.enlaces0 {
  padding-top: 10px; }

.estrella {
  color: gray;
  opacity: 50%; }

.estrella-2 {
  color: gold; }

.banner {
  height: 300px; }

.tabs {
  padding-top: 5px; }
